<div id="page-content">
<h1 class="text-center mt-4">Listing all articles</h1>


<%= render 'article' %>
<div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
</div>
</div>


					<%# <td><%= link_to 'Show', article_path(article) </td> %>
					<%# <td><%= link_to 'Edit', edit_article_path(article) </td> %>
					<%# <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you Sure?" } </td> %>

	